h1,h4,h6{
	color: #493804;
}

h1{
	font-family: 'VT323', monospace;
}

h4, h6{
	font-family: 'Open Sans', sans-serif;
}

h4{
	font-size: 14px;
}

input[type="range" i]{

}

.board h4{
	font-weight: 600;
	color: #FFBE03;
}

.slider h4, .mines-setup h4{
	font-weight: 600;
}

.cell{
    text-align : center;
    width : 30px;
    height : 30px;
    background-color: #493804;
    border: 2px solid white;
    color: white;
}

.cell:hover{
	/*background-color: black;*/
}

/*Mode*/
.bomb{
	/*background-color:red;*/
}
.marked{
	background-color: #FFBE03;
}
.cleared{
	background-color: #AF8608;
	color: white;
}


/*Style*/
.bar {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FFBE03;
    cursor: pointer;
}

.bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFBE03;
    cursor: pointer;
}

.container{
	text-align: center;
}

#minefield{
	margin: auto;
}

.title{
	color: #FFBE03;
	/*background-color: #FFBE03;*/
	margin-top:30px;
}

.mines-setup{
	margin-bottom: 10px;
}

.controls{
	margin-top: 40px;
	margin-bottom: 40px;
}

.slider{
	display: inline-block;
}

.playground{
	margin-top: 20px;
}

#start-game{
	background-color: #FFBE03;
    color: white;
    border: none;
}

input:focus { 
	outline:0 !important; 
}

#start-game:hover{
	cursor: pointer;
}

.board{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	marign-top: 30px;
}