.cell{
    text-align : center;
    width : 25px;
    height : 25px;
    background-color: grey;
    border: 2px solid white;
}

.cell:hover{
	/*background-color: black;*/
}

.bomb{
	/*background-color:red;*/
}
.marked{
	background-color: orange;
}
.cleared{
	background-color: black;
	color: white;
}